:root{
    --blanco:rgb(255,255,255);
    --azul_obscuro:  rgb(22, 51, 114);
    --azure: azure;
    --azul_bajito:rgb(107, 172, 192);

    --Fuente_titulo:'Gemunu Libre', sans-serif;
    --Fuente_cuerpo:'Roboto Slab', serif;
}
/** “universal box-sizing”, and it’s a good way to work! */
/*! indispensable para cualquier documento  */
*, *::before, *::after 
    {box-sizing: border-box;}

html { 
        box-sizing: border-box;

        /** font-size: para calibrar la proporcion: 1rem = 10px */
            font-size: 62.5%;
        }

body{
    font-size: 16px; /*1 rem =10px*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azul_obscuro);

    background-image: linear-gradient( to top, var(--gris_claro) 0%, var(--blanco) 20% );

}

/* estilos para el header */
/**el cual contiene solo dos inconos */
.Header{
    background-color:var(--azure);
    display: flex;
    justify-content:space-between;
    border-radius: 4%;
}

/* estilos para el main */

.Room{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Room__title{
padding: 1rem ;    
text-align: center;
font-size: 5rem;
color: var(--blanco);
font-weight: bold;
text-transform: uppercase;
font-family: var(--Fuente_titulo);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    font-family: var(--Fuente_titulo);
}
.sombra{
    -webkit-box-shadow: 0px 0px 69px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 69px 0px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 69px 0px rgba(0,0,0,0.38);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
}

h1{
    text-align: center;
    color: var(--azul_bajito);
}
.tecnicas{
text-align: center;}

.footer_iconos{
    display: flex;
    justify-content:space-between;
}

.footer_icono{
    border: 1px solid #d0d0d0;
    border-radius: 50%;
}

.header__title{
    color: var(--azul_obscuro);
    font-family: var(--Fuente_titulo);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
}

@media(min-width: 600px){
    .header__title{
        font-size: 4rem;
    }
}

.dispositivos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
}

.dispositivos__sombra{
    display: grid;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 69px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 0px 69px 0px rgba(0,0,0,0.38);
    box-shadow: 0px 0px 69px 0px rgba(0,0,0,0.38);
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.dispositivos__sombra--dos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.dispositivos__numero{
    text-align: center;
}

.descripcion{
    color: var(--azure);
    font-family: var(--Fuente_cuerpo);
    text-align: center;
}

.vector{
    display: flex;
    justify-content: center;
}
